:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 18%, 20%);
  --dark-blue: #141519;
  --very-dark-blue: hsl(216, 12%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: 15px;
}

.container {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  background-color: var(--very-dark-blue);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Overpass;
}

h1,
h2 {
  color: white;
  padding-bottom: 0.5rem;
}

p {
  font-size: 15px;
  margin-bottom: 2rem;
  line-height: 24px;
  color: var(--light-grey);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  background: radial-gradient(ellipse at top, #202731, var(--dark-blue));
  max-width: 420px;
  padding: 30px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* display: none; */
  transform: scale(1);
  animation: fadeOut 250ms ease-in-out forwards;
}

.active {
  animation: fadeIn 250ms 250ms ease-in-out both;
}

.rating {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.circle {
  --height: 50px;
  height: var(--height);
  width: var(--height);
  border-radius: 50%;
  background-color: var(--medium-grey);
  color: var(--light-grey);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.rated {
  background-color: var(--light-grey);
  color: white;
}

[data-rating-point]:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.btn {
  background-color: var(--orange);
  /* width: 100%; */
  width: 320px;
  height: 45px;
  border-radius: 100vmax;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: Overpass;
  position: sticky;
  align-self: center;
}

.btn:hover {
  background-color: white;
  color: var(--orange);
  cursor: pointer;
}

#thanks {
  text-align: center;
}

img {
  /* --height: 50px;
  height: var(--height);
  width: var(--height); */
  align-self: center;
  margin-bottom: 2rem;
}
.rating-msg {
  background-color: var(--medium-grey);
  color: var(--orange);
  width: max-content;
  border-radius: 100vmax;
  padding: 8px 20px;
  font-size: 15px;
  align-self: center;
}

.attribution {
  position: absolute;
  bottom: 0;
  color: var(--light-grey);
  text-align: center;
  width: 100%;
  padding: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(50%, -50%);
  }
  30% {
    opacity: 1;
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  40% {
    opacity: 0.25;
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

/* @media (max-width: 480px) {
  .card {
    width: 80%;
  }
  .circle {
    --height: 2.5rem;
  }
} */
